<div
  class="z-10 flex flex-col h-dvh justify-start items-center w-4/5 sm:w-3/5 md:w-1/2 xl:w-1/3 gap-y-48"
>
  <h1 class="text-5xl text-center font-bold font-mono mt-20">
    <span class="text-white/80">Welcome to</span>
    <span class="text-blue-500">URL-GO</span>
  </h1>
  <div class="card h-1/3 w-full">
    <div class="card-border">
      <div class="gradient"></div>z
    </div>
    <div class="card-shadow">
      <div class="gradient"></div>
    </div>
    <slot />
  </div>
</div>

<style>
  :root {
    --c1: #000000;
    --c2: #60a5fa;
    --c3: #e879f9;
    --c4: #60a5fa;
    --c5: #5eead4;
    --c6: #60a5fa;

    --gradient: conic-gradient(
      var(--c1),
      var(--c2),
      var(--c3),
      var(--c4),
      var(--c5),
      var(--c6),
      var(--c1),
      var(--c1),
      var(--c6),
      var(--c5),
      var(--c4),
      var(--c3),
      var(--c2),
      var(--c1),
      var(--c1)
    );
  }

  .card {
    border-radius: 0.5rem;
    background-color: var(--c1);
    position: relative;
  }
  .card-border,
  .card-shadow {
    position: absolute;
    inset: -8px;
    z-index: -1;
    border-radius: calc(0.5rem + 8px);
    container-type: size;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .card-shadow {
    filter: blur(4.5rem);
    opacity: 0.75;
  }
  .gradient {
    position: absolute;
    width: 140cqmax;
    height: 140cqmax;
    background-image: var(--gradient);
    border-radius: 50%;
    animation-name: rotate;
    animation-duration: 4.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
</style>
