---
import Layout from "../layouts/Layout.astro";
import URLForm from "../components/URLForm";
import Card from "../components/Card.astro";
---

<Layout title="URL-GO">
  <main class="flex flex-wrap justify-center relative dark">
    <Card>
      <URLForm client:load />
    </Card>
    <div class="h-[100vh] absolute inset-0 overflow-hidden z-0">
      <div class="rays absolute -inset-[10px] opacity-50 z-0"></div>
    </div>
  </main>
</Layout>

<style>
  /* Background */
  @keyframes rays {
    from {
      background-position:
        50% 50%,
        50% 50%;
    }
    to {
      background-position:
        350% 50%,
        350% 50%;
    }
  }

  .rays {
    --stripes: repeating-linear-gradient(
      100deg,
      #fff 0%,
      #fff 7%,
      transparent 10%,
      transparent 12%,
      #fff 16%
    );
    --stripesDark: repeating-linear-gradient(
      100deg,
      #000 0%,
      #000 7%,
      transparent 10%,
      transparent 12%,
      #000 16%
    );
    --rainbow: repeating-linear-gradient(
      100deg,
      #60a5fa 10%,
      #e879f9 15%,
      #60a5fa 20%,
      #5eead4 25%,
      #60a5fa 30%
    );
    background-image: var(--stripes), var(--rainbow);
    background-size: 300%, 200%;
    background-position:
      50% 50%,
      50% 50%;

    filter: blur(10px) invert(100%);

    mask-image: radial-gradient(ellipse at 100% 0%, black 40%, transparent 70%);

    pointer-events: none;
  }

  .rays::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: var(--stripes), var(--rainbow);
    background-size: 200%, 100%;
    animation: rays 60s linear infinite;
    background-attachment: fixed;
    mix-blend-mode: difference;
  }

  .dark .rays {
    background-image: var(--stripesDark), var(--rainbow);
    filter: blur(10px) opacity(50%) saturate(200%);
  }
  .dark .rays::after {
    background-image: var(--stripesDark), var(--rainbow);
  }
</style>
