---
import Layout from "../layouts/Layout.astro";
---

<Layout title="URL-GO">
  <main class="flex justify-center items-center">
    <h1 class="text-7xl text-white/80 text-center font-bold pt-8">
      Welcome to <span class="text-indigo-400">URL-GO</span>
    </h1>
  </main>
</Layout>

<style></style>
